@{
    ViewData["Title"] = "Home Page";
}

<div id="app"></div>

@section scripts{ 
    <script src="http://127.0.0.1:8080/wwwroot/js/bundle.js"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8080/wwwroot/css/main-css.css"/>
}